.apex-table-container {
    .apex-table-content {
        overflow: auto;

        .apex-table {
            table-layout: fixed;
            width: 100%;
            border-spacing: 0;

            .apex-table-thead {
                background: rgb(250, 250, 250);
                height: 40px;
                .apex-table-thead-th {
                    white-space: nowrap;
                    box-sizing: border-box;
                }
            }

            .apex-table-tbody {
                .apex-table-tbody-tr {
                    .apex-table-tbody-td-checkbox {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .apex-table-tbody-td {
                        .ant-input {
                            border-radius: 0;
                        }

                        .ant-input:focus,
                        .ant-input:focus-within {
                            box-shadow: 0 0 0 1px rgba(5, 145, 255, 0.1);
                        }

                        .ant-select-selector {
                            border: none;
                            border-radius: 0;
                        }

                        .ant-picker {
                            border: none;
                            border-radius: 0;
                        }
                    }
                }
            }

        }
    }
}