// 边框颜色
@borderColor: rgba(5, 5, 5, 0.06);
// 主要颜色
@primaryColor: #40a9ff;
// 悬浮背景颜色
@hoverBackgroundColor: #FFFAF0;
// 聚焦时背景颜色
@focusBackgroundColor: #FDF5E6;

.overflow-hidden-one {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    /* 显示三行 */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.apex-table-container {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;

    .apex-table-content {
        flex-grow: 1;
        overflow: auto;
        box-sizing: border-box;

        .apex-table {
            table-layout: fixed;
            width: 100%;
            border-spacing: 0;

            .apex-table-thead {
                position: sticky;
                top: 0;
                left: 0;
                background: rgb(250, 250, 250);
                font-size: 14px;
                z-index: 100;

                tr {

                    .apex-table-thead-th-line-number-head {
                        position: sticky;
                        top: 0;
                        left: 0;
                        z-index: 100;
                        background: rgb(250, 250, 250);
                    }

                    .apex-table-thead-th {
                        border: 1px solid @borderColor;
                        box-sizing: border-box;

                        .apex-table-thead-th-content {
                            position: relative;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            .apex-table-thead-th-resize {
                                position: absolute;
                                height: 100%;
                                top: 0;
                                bottom: 0;
                                right: -8px;
                                width: 16px;
                                z-index: 999;
                                cursor: col-resize;

                                &:active {
                                    width: 1px;
                                    background-color: @primaryColor;
                                    height: 100vh;
                                    z-index: 1000;
                                }
                            }
                        }
                    }

                    .apex-table-thead-th-sort {
                        &:hover {
                            background-color: #ebebeb;
                        }

                        .apex-table-thead-th-sort-box {
                            display: flex;
                            flex-direction: column;
                            position: absolute;
                            right: 5px;

                            .apex-table-thead-th-sort-icon {
                                font-size: 12px;
                                color: #bfbfbf;
                            }

                            .apex-table-thead-th-sort-icon-active {
                                color: #1890ff;
                            }
                        }

                        &:hover .apex-table-thead-th-sort-icon {
                            color: #000000ad;
                        }

                        &:hover .apex-table-thead-th-sort-icon-active {
                            color: #1890ff;
                        }
                    }

                    .apex-table-thead-th-fixed {
                        position: sticky;
                        z-index: 99;
                        background-color: #fafafa;
                    }

                    .apex-table-thead-th-checkbox {
                        position: sticky;
                        left: 50px;
                        z-index: 99;
                        background-color: #fafafa;
                    }

                    .apex-table-thead-fixed-left {
                        position: sticky;
                        left: 45px;
                        z-index: 99;
                        box-shadow: inset -10px 0 8px -8px #00000026;
                        background-color: #FFF;
                    }

                    .apex-table-thead-fixed-right {
                        position: sticky;
                        right: 0;
                        z-index: 99;
                        border-left: 1px solid rgba(5, 5, 5, .06);
                        border-color: #0505050f;
                        background-color: #FFF;
                        box-shadow: inset 10px 0 8px -8px #00000026;
                    }
                }


            }

            .apex-table-tbody {

                .apex-table-tbody-tr {
                    position: relative;
                    background-color: #FFF;

                    .apex-table-tbody-td-line-number {
                        position: sticky;
                        top: 0;
                        left: 0;
                        z-index: 99;
                        background: rgb(250, 250, 250);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;

                        .number {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        .insert-delete-box {
                            display: none;

                            .icon {
                                font-size: 16px;
                                cursor: pointer;

                                &:hover {
                                    color: @primaryColor;
                                }
                            }
                        }

                        &:hover .number-add-delete {
                            display: none;
                        }

                        &:hover .insert-delete-box {
                            display: block;
                        }
                    }

                    .apex-table-tbody-td-checkbox {
                        text-align: center !important;
                        position: sticky;
                        left: 50px;
                        z-index: 99;
                        background-color: #FFF;
                    }

                    .apex-table-tbody-td {
                        height: 100%;
                        box-sizing: border-box;
                        border: 1px solid @borderColor;
                        text-align: left;

                        .ant-input,
                        .ant-input-number,
                        .ant-input-affix-wrapper {
                            border-radius: 0;
                            border-color: transparent;
                            width: 100%;
                            height: 100%;
                            box-sizing: border-box;
                            background-color: transparent;
                            text-align: left;
                            font-size: 14px;
                        }

                        .ant-input:focus,
                        .ant-input-number:focus-within,
                        .ant-input-affix-wrapper:focus-within {
                            border-color: @primaryColor;
                            box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
                        }

                        .ant-input-number-input-wrap {
                            display: flex;
                            align-items: center;
                            width: 100%;
                            height: 100%;
                        }

                        .ant-input-number-input {
                            text-align: left;
                        }

                        .ant-select {
                            width: 100%;
                            height: 100%;
                            box-sizing: border-box;
                            border: 1px solid transparent;

                            .ant-select-selector {
                                border-radius: 0;
                                box-shadow: none !important;
                                border: none !important;
                                padding: 0 10px;
                                background-color: transparent;
                            }
                        }

                        .ant-select:focus-within {
                            border: 1px solid @primaryColor;
                            box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
                        }

                        .ant-picker {
                            border-radius: 0;
                            box-shadow: none !important;
                            border: 1px solid transparent;
                            width: 100%;
                            height: 100%;
                            box-sizing: border-box;
                            padding: 0 10px;
                            background-color: transparent;
                        }

                        .ant-picker:focus-within {
                            border: 1px solid @primaryColor;
                            box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
                        }
                    }

                    .apex-table-tbody-td-fixed {
                        position: sticky;
                        z-index: 99;
                        background-color: #FFF;
                    }

                    .apex-table-tbody-fixed-left {
                        position: sticky;
                        left: 45px;
                        z-index: 99;
                        box-shadow: inset -10px 0 8px -8px #00000026;
                        background-color: #FFF;
                    }

                    .apex-table-tbody-fixed-right {
                        position: sticky;
                        right: 0;
                        z-index: 99;
                        background-color: #FFF;
                        box-shadow: inset 10px 0 8px -8px #00000026;
                    }

                    .apex-table-tbody-td:focus-within {
                        background-color: #FFF;
                    }

                    .apex-table-tbody-td-verify-failed {
                        border-color: red;
                    }

                }

                .apex-table-tbody-tr:focus-within {
                    background-color: @focusBackgroundColor !important;
                }

                .apex-table-tbody-tr:hover {
                    background-color: @hoverBackgroundColor !important;
                }
            }

            .apex-table-fixed-left-last {
                &::before {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: -2px;
                    width: 30px;
                    transform: translate(100%);
                    content: "";
                    pointer-events: none;
                    box-shadow: inset 10px 0 8px -8px #00000026;
                }
            }

            .apex-table-fixed-right-last {
                &::before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: -2px;
                    width: 20px;
                    transform: translate(-100%);
                    content: '';
                    pointer-events: none;
                    box-shadow: inset -10px 0 8px -8px #00000026;
                }
            }

            .apex-table-tfoot {
                position: sticky;
                bottom: 0;
                left: 0;
                background: rgb(250, 250, 250);
                font-size: 14px;
                z-index: 100;

                .apex-table-tbody-td {
                    box-sizing: border-box;
                    border: 1px solid rgba(5, 5, 5, 0.06);
                    text-align: left;
                    border-top: none;
                }

                .apex-table-tbody-tr-summary {
                    .apex-table-tbody-tr-summary-box {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .apex-table-tbody-tr-summary-content {
                            font-weight: 700;
                            color: rgba(0, 0, 0, 0.87);
                        }
                    }

                    .apex-table-tbody-td-line-number {
                        position: sticky;
                        top: 0;
                        left: 0;
                        z-index: 99;
                        background: rgb(250, 250, 250);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        .number {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }

    .apex-show-cell {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        width: 100%;
        height: 100%;
        word-break: break-all;
        border: 1px solid transparent;
        box-sizing: border-box;
    }

    .apex-table-pagination {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        min-height: 50px;
    }
}